body {
    background: rgb(255, 255, 255);
}

.logo {
    width: 100px;
}

.name {
    color: rgba(168, 148, 148, 0.486);
}

.noAccount {
    border: none;
    background-color: rgb(162, 165, 163);
    font-size: 20px;
    color:aqua;
}

.header {
    display: flex;
    gap: 500px;
    background-color: rgb(191, 201, 195);
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.username {
    font-size: 30px;

}

.divUsername {
    background-color: rgb(162, 165, 163);
    padding: 10px;
    border-radius: 10px;
    width:auto;
}

.container {
    margin-top: 30px;

}

.add_category {
    display: flex;
    justify-content: center;


}


.button-73 {
    font-size: 25px;

    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-73:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-73:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button-73 {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}

.type_category {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.category_input {
    border: none;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FF6314;
    font-size: 25px;
    padding: 10px;

}

.category_container {
    margin-top: 20px;
    height: 500px;

}

.category {
    width: 50%;

    border-radius: 20px;
    margin-left: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.categoryHeader {

    justify-content: center;
    font-size: 40px;
    background-color: #206bd4;
    height: 100px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;


}

.more_category {

    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}





/* CSS */
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 50%;
    box-sizing: border-box;
    color: aqua;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 70px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 50px;
}

.button-56:after {
    background-color: #111;
    border-radius: 50%;
    content: "";
    display: block;
    height: 70px;
    left: 0;
    width: 100%;

    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}


.small_category {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    outline: none;
    height: 30px;


}

.small_category input {
    width: 200px;
}

.info_small_category {
    padding: 10px;
    margin-top: 10px;
}

.info_small_category textarea {
    width: 100%;
    height: 200px;
}

.button_info_small_category {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.save {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.save:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-66 {
        padding: 16px 44px;
        min-width: 150px;
    }
}

.cancel {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.cancel:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-66 {
        padding: 16px 44px;
        min-width: 150px;
    }
}

.value_category {
    padding-bottom: 10px;
}

ol,
ul {
    list-style: none;
}


table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    width:100%;
    margin-top: 10x;
}



table caption {
    padding: .5em;
}

table th,
table td {
    padding: 5px;
    border: 1px solid lightgrey;
    width:40%;

}

tbody {
    border-radius: 10px;
}

.buttonListTodo {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px
}

.listTodo {
    padding:10px;
}

.descriptionListTodo {
    white-space: pre-wrap;
}

.editTitle {
    width:100%;
    padding:5px;
    height: 100%;
    outline: none;
    border:none;

}

.editDescription {
    width:100%;
    padding:5px;
    height: 100%;
    outline: none;
    border:none;
}